@model IEnumerable<Contactini.Models.Entities.Mission>
@using Contactini.Models
@{
    ViewBag.Title = "MyMissions";
    Layout = "~/Views/Shared/ReceptionLayout.cshtml";
}
<style>
    .cent {
        background-color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
</style>
<h2 class="alert alert-info text-center">Mes Missions</h2>

@foreach (var item in Model)
{
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header" style="background-color:dimgrey">
                <h5 style="color:white;">
                    Secteur : @Html.DisplayFor(modelItem => item.Sector.Name) | Domaine : @Html.DisplayFor(modelItem => item.Domain.Name)
                </h5>
            </div>
            <div class="card-body" align="center">
                <div>
                    <h5 class="card-title well well-sm" style="width:50%;color:white; background-color:dodgerblue;">@Html.DisplayFor(modelItem => item.Title)</h5>
                </div>
                <div style=" margin-left:25px; margin-right:25px;">
                    <table class="table table-bordered">
                        <tr class="thead-default">
                            <th class="text-center">Date Publication</th>
                            <th class="text-center">Date Début</th>
                            <th class="text-center">Durée</th>
                            <th class="text-center">Situation</th>
                        </tr>
                        <tr>
                            <th class="text-center">@Html.DisplayFor(modelItem => item.PublishDate)</th>
                            <th class="text-center">@Html.DisplayFor(modelItem => item.StartDate)</th>
                            <th class="text-center">@Html.DisplayFor(modelItem => item.Duration)</th>
                            <th class="text-center">@Html.DisplayFor(modelItem => item.State)</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>@Html.Image(@Url.Content(item.PhotoLink), "Job Offer", "190", "250")</div>
                    </div>
                    <div class="col-md-6" align="left">
                        <p class="card-text pull-left" style="width:240px ;height:180px ;text-overflow:ellipsis; overflow:hidden; margin-bottom:3px;">@Html.DisplayFor(modelItem => item.Description).</p>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                <div class="row center-block">
                    @*@Html.ActionLink("Candidatures", "Candidatures", new { item.ID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Mettre a Jour", "Edit", new { item.ID }, new { @class = "btn btn-info" })*@
                    <a href="@Url.Action("Candidatures", "Missions", new { item.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Candidatures   </a>
                    <a href="@Url.Action("Edit", "Missions", new { item.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Mettre A Jour </a>

                    @*@Html.ActionLink("Supprimer", "Delete", new { item.ID }, new { @class = "btn btn-info delete-link" })*@
                    @*@Ajax.ActionLink("Supprimer", "Delete", new { id = item.ID }, new AjaxOptions {HttpMethod = "POST",Confirm = "Are you Sure You Want to Delete " + @item.Title}, new { @class = "btn btn-danger glyphicon glyphicon-trash" })*@
                    <a href="#" class="btn btn-primary" data-target="#myModal1" data-toggle="modal" id="@item.ID" onclick="Details(this.id)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Details</a>
                    <button type="button" class="btn btn-warning" data-target="#myModal" data-toggle="modal" onclick="confirmDelete(@item.ID)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Supprimer
                    </button>
                </div>
            </div>
        </div>
    </div>

}
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4>Supprimer la mission</h4>
                </div>
                <div class="modal-body">
                    Confirmer la suppression de cette mission
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <button class="btn btn-default"  onclick="DeleteMission()">Delete</button>
                    @*<input type="reset" value="Delete" class="btn-success" id="btnSubmit" />*@
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenMissionId" />
    <div class="modal" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4>Mission Details</h4>
                </div>
                <div class="modal-body conatiner">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>


@Scripts.Render("~/bundles/jquery")
<script>
    var confirmDelete = function (ID) {
        $("#hiddenMissionId").val(ID);
    }

    var DeleteMission = function () {
        var ID = $("#hiddenMissionId").val();
        $.ajax({
            type: "POST",
            data: JSON.stringify( { 'Id': ID }),
            url: '/Missions/DeleteMission',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(ID);
                console.log(result);
                $("#myModal").modal("hide");
                $('.card').closest().remove();
                location.reload();
            }

        })

    }
     function Details(id) {
        $.get("@Url.Action("Details","Missions")/" + id,
            function (data) { $('.conatiner').html(data); })
    }

    
</script>