@model IEnumerable<Contactini.Models.Entities.Certification>
@using Contactini.Models
@{
    Layout = "";
}
<div class="panel panel-default">
    <div style="margin-left:3%; margin-top: 2%;">
        <span class="IconTitle" style="background-color:#f0ad4e">
            <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-left:26px; margin-top: 23px; color:#FFF;"></span>
        </span>
        <h4 style="margin-left: 12%; margin-top: -6%;">Certifications</h4>
        <a href="@Url.Action("CertCreate","myCV")" class="btn btn-primary pull-right" style="margin-top:-6%;margin-right:5px;">
            <span class="glyphicon glyphicon-plus"></span>Nouveau
        </a>
    </div>
    <div class="panel-body" align="center">
        <table class="table table-hover" style="font-size: 13px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Niveau</th>
                    <th>Date d'acquisation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var certification in Model)
                    {

                       <tr>
                           <td>@CertificationAuthority(certification.CertificationAuthority)</td>
                           <td>@certification.CertificationName</td>
                           <td>@certification.Level</td>
                           <td>@string.Format("{0: dd/MM/yyyy}", certification.FromYear)</td>
                           <td>
                               <a href="@Url.Action("CertDelete","myCV", new {id = certification.ID })" ><span class="glyphicon glyphicon-remove"></span> Supprimer</a>  |  <a href="@Url.Action("CertUpdate","myCV", new {id = certification.ID })" style="margin-right:5px;"><span class="glyphicon glyphicon-edit"></span> modifier</a>
                           </td>
                       </tr>
                    }
                }
                </tbody>>
            </table>

    </div> <!-- END PANEL BODY -->
</div>
@helper CertificationAuthority(string authortiy)
{

    switch (authortiy.ToLower())
    {
        case "microsoft":
            @Html.Image(@Url.Content("~/Content/Images/mic.png"), "mic photo", "85", "85");
            break;

        case "scrum":
            @Html.Image(@Url.Content("~/Content/Images/scr.png"), "scrum photo", "85", "85");
            break;

        case "cisco":
            @Html.Image(@Url.Content("~/Content/Images/cis.png"), "Cisco photo", "85", "85");
            break;
        case "google":
            @Html.Image(@Url.Content("~/Content/Images/goog.png"), "Google photo", "85", "85");
            break;
        default:
            @Html.Image(@Url.Content("~/Content/Images/cert.png"), "certif photo", "85", "85");
            break;
    }
}