@model Contactini.Models.Entities.Certification

@{
    ViewBag.Title = "CertUpdate";
    Layout = "~/Views/Shared/BusinessLayout.cshtml";
}

<h2 class="well text-center">Mise a jour du certificat</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="row" align="center">
            <div class="form-group col-md-6">
                @Html.Label("Nom du certificat", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CertificationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CertificationName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.Label("Authorité de certification", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CertificationAuthority, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CertificationAuthority, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" align="center">
            <div class="form-group col-md-6">
                @Html.Label("Date d'acquisation", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FromYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FromYear, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.Label("Niveau", htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Level, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <div class="col-md-6">
                    <a href="@Url.Action("Index","myCV")" class="btn btn-primary">
                        <span class="glyphicon glyphicon-backward"></span>Retour
                    </a>

                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
