@model Contactini.Models.Entities.Realisation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/BusinessLayout.cshtml";
    List<string> ls = new List<string>();
    ls = ViewBag.LS;
}
 
<h2 class="well text-center">Mise a jour du realisation</h2>


@using (Html.BeginForm("Edit", "Realisations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 class="text-center">Realisation du Mission Alpha beta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        @Html.Label("Temps de réalisation du mission", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.TakenTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TakenTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Description de réalisation", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, @rows = 10, @cols = 80 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row" align="center">
            <h4 class="alert alert-info text-center" style="margin-left:5px;margin-right:5px;">Photos de réalisation du mission</h4>
        <div class="col-md-3">
            <div class="form-group">
                <input type="file" id="Photo" name="files[0]" onchange="fileCheck1(this)" />
                <img src="@Url.Content(String.Format("{0}",ls[0]))" id="upIm1" width="250" height="220" class="img1" style="margin-top:10px;" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="file" id="Photo" name="files[1]" onchange="fileCheck2(this)" />
                <img src="@Url.Content(String.Format("{0}",ls[1]))" id="upIm2" width="250" height="220" class="img1" style="margin-top:10px;" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="file" id="Photo" name="files[2]" onchange="fileCheck3(this)" />
                <img src="@Url.Content(String.Format("{0}",ls[2]))" id="upIm3" width="250" height="220" class="img1" style="margin-top:10px;" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="file" id="Photo" name="files[3]" onchange="fileCheck4(this)" />
                <img src="@Url.Content(String.Format("{0}",ls[3]))" id="upIm4" width="250" height="220" class="img1" style="margin-top:10px;" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" align="center">
            <div class="col-md-6" align="center">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span>Modifier</button>
            </div>
            <div class="col-md-6" align="center">
                <a href="@Url.Action("Index","Realisations")"  class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span>Retour</a>
            </div>
    </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function fileCheck1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#upIm1').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function fileCheck2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#upIm2').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function fileCheck3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#upIm3').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function fileCheck4(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#upIm4').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>