@model IEnumerable<Contactini.Models.Entities.Realisation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BusinessLayout.cshtml";
}

<h2 class="well text-center">Réalisations de Nos Prestataires</h2>

@foreach (var item in Model)
{
    <div class="card text-center">
        <div class="card-header" style="background-color:@(item.Validation  ? "dodgerblue":"grey")">
            Mission : @Html.DisplayFor(modelItem => item.Mission.Title)
        </div>
        <div class="card-body" align="center">
            <h5 class="card-title well well-sm" style="width:50%;color:white; background-color:dodgerblue;">Temps de réalisation : @Html.DisplayFor(modelItem => item.TakenTime)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description).</p>

            <div class="row" align="center">
                @*<h4 class="alert alert-info text-center" style="margin-left:55px;margin-right:55px;">Photos de réalisation du mission</h4>*@
                @if (item.Photos.ToList() != null)
                {
                    var bla = item.Photos.ToList();
                    for (int i = 0; i < bla.Count(); i++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <img src="@Url.Content(String.Format("{0}",bla[i].Link))" id="upIm1" width="250" height="220" class="img1" style="margin-top:10px;" />
                            </div>
                        </div>
                    }
                }


            </div>

        </div>
        <div class="card-footer text-muted">
            <div class="row center-block">
                <a class="btn btn-primary" href="@Url.Action("Edit","Realisations",new { id=item.ID})"><span class="glyphicon glyphicon-screenshot"></span>Modifier</a>
                <a class="btn btn-primary" data-target="#myModal1" data-toggle="modal" id="@item.ID" onclick="confirmDelete(this.id)"> <span class="glyphicon glyphicon-pushpin"></span>Supprimer</a>
                <a class="btn btn-primary" data-target="#myModal2" data-toggle="modal" id="@item.ID" onclick="contactClient(this.id)"><span class="glyphicon glyphicon-envelope"></span>Contact</a>
                <a class="btn btn-primary" data-target="#myModal" data-toggle="modal" id="@item.ID" onclick="Details(this.id)"><span class="glyphicon glyphicon-sunglasses"></span>Détails</a>
            </div>
        </div>
    </div>
}


<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>Notes du client </h4>
            </div>
            <div class="modal-body contender1">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>Supprimer la réalisation</h4>
            </div>
            <div class="modal-body">
                Confirmer la suppression de cette réalisation
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Annuler</a>
                <button class="btn btn-default" onclick="DeleteRealisation()">supprimer</button>
                @*<input type="reset" value="Delete" class="btn-success" id="btnSubmit" />*@
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>Demande de validation</h4>
            </div>
            <div class="modal-body contender2">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenId" />

<script>
          function Details(id) {
            $.get("@Url.Action("noteClient","Business")/" + id,
                function (data) {
                    $('.contender1').html(data);
                });

    }

    var confirmDelete = function (ID) {
        $("#hiddenId").val(ID);
    }

    var DeleteRealisation = function () {
        var ID = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            data: JSON.stringify({ 'Id': ID }),
            url: '/Realisations/deleteRealisation',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                //console.log(ID);
                //console.log(result);
                $("#myModal1").modal("hide");
                //$('.card').closest().remove();
               // location.reload();
                window.location.href = '@Url.Action("myMissions","Business")';
            }

        })

    }

    function contactClient(id) {
        $.get("@Url.Action("demandValid", "Business")/" + id,
            function (data) { $('.contender2').html(data); })
    }
</script>